proxmox_api_url = "https://192.168.x.x:x/api2/json"
proxmox_api_token = "root@pam!terraform=<token_secret>"
node = "..."
template_name = "ubuntu-22.04-cloudinit"
network_subnet = "192.x.x.x/x"
vm_ip_start = x
gateway_ip = "192.x.x.x"
dns_servers = ["x.x.x.x", "x.x.x.x"]
vm_user = "x"
ssh_key = "ssh-rsa ...................."

nodes= {
    control-plane = {
        cpu = x
        memory = x
        disk = "xG"
        datastore_id = "local-lvm"
        template_id = 100
        role = "x"
    }
    worker-01 = {
        cpu = x
        memory = x
        disk = "xG"
        datastore_id = "local-lvm"
        template_id = 100
        role = "x"
    }
    worker-02 = {
        cpu = x
        memory = x
        disk = "xG"
        datastore_id = "local-lvm"
        template_id = 100
        role = "x"
    }
    worker-03 = {
        cpu = x
        memory = x
        disk = "xG"
        datastore_id = "local-lvm"
        template_id = 100
        role = "x"
    }
    
}    

